---
title: Le Wagon - Middleman - Team
---
<ul class="list-inline text-center">
  <% ["Pepe", "Dank-pepe"].each do |stuff| %>
    <li>
      <%= image_tag "#{stuff}.jpg", class: "img-circle" %>
      <h3><%= stuff.capitalize %></h3>
    </li>
    <li>
      <a href="www.reddit.com"><i class="fab fa-github-alt"></i>
        <%= stuff.upcase %></a>
    </li>
  <% end %>
</ul>
